{% include "header.html" %}


    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(static/images/heading-3-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Dolore doloribus sint</h4>
              <h2>Testimonials</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="services section-background">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>Aissatou Yaouba</h4>
                <p class="n-m"><em>"I came in to get a new car, and the great service and selection made me want to purchase from this dealer. Easy, and enjoyable experience. Thanks Guys! Looking forward to the new car!"</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>Achiri Nji</h4>
                <p class="n-m"><em>"Very nice people. Good Service and Informative. Don't force you into the deal. Make you comfortable while you choose the car you want to buy from their vast inventory.."</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>Nkenglefac kevin</h4>
                <p class="n-m"><em>"I bought a great truck. The vehicles all look nice. Customer service was excellent. Everyone was really friendly.."</em></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>Wirba Nzenyuy</h4>
                <p class="n-m"><em>"Very pleasant experience. Staff was helpful and the car was ready for quick pickup. I would definitely recommend them to car buyers.."</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>jokolojo</h4>
                <p class="n-m"><em>"I loved my experience with this company and I'm very satisfied."</em></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="down-content">
                <h4>Francois Roland</h4>
                <p class="n-m"><em>"Micheal took me out and looked at multiple cars on a chilly rainy night. Excellent customer servce!!!"</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   {% include "footer.html" %}