{% include "header.html" %}
    <!-- Page Content -->


    <div class="page-heading about-heading header-text" style="background-image: url(static/images/heading-1-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>There’s a lot to love about</h4>
              <h2>Cars and Trucks Cameroon</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>To drive integrity by being honest & transparent in every interaction.</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="static/images/about-1-570x350.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Pioneering cars and trucks import solutions in Cameroon.</h4>
              <p>Established in 2018, and relaunched in 2021 Cars and Trucks Cameroon has become the Cameroon’s fastest-growing online car market for buyers
                and sellers across the country and biggest generator of import demand for the region.<br>
                <br>Being the only independently owned marketplace in the Cameroon, and solely focused on cars, Cars and Trucks Cameroon is in a unique position to be transparent, and share data and valuable insights with the industry because Cars and Trucks Cameroon does
                not sell its own products that compete with dealers or have to satisfy contradicted interests..</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Innovate to solve problems and create value.</h2>
              <p>We strongly believe in innovation for value creation. Just in the past 18 months, we have launched more than 5 game-changing products and services, impacting dealer’s daily transactions and accelerating growth.</p>
            </div>

            <h5>We partner, not compete, with automotive retailers.</h5>

            <p>With more than 4700 cars active on the web and mobile apps, Cars and Trucks Cameroon is, without doubt, the market leader, with unparalleled reach within the import market.

            <br> </br>Cars and Trucks Cameroon attracts over one million searches a month, enabling access to real-time data from real buyers and sellers, combined with cutting-edge technology, and strong dealer partnerships putting Cars and Trucks Cameroon in a leading position to transform the market. </p>
            <br>
            <h5>Be passionate and focused.</h5>
            <p>We have delivered over 100 dealer websites with free support and seamless syncing to Control Auto and Cars and Trucks Cameroon</p>

          </div>
        </div>
      </div>
    </div>

   {% include "footer.html" %}